html,body{margin: 0;padding: 0;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeefef;
}

a {
  color: #00B7FF;
}

.menuTopShell{
  height:66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px 0 #ddd;
  position: sticky;
  top:0;
  background-color: #2196f3;
  }

.menuBtnWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  cursor: pointer;
  height: 100%;
}
.menuBtn{
  height: 100%;
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuBtn a{
  text-decoration: none;
  color: #444;
}
.menuBtn:hover{
  background-color: #1183ef;
  transition: 0.3 ease;
  }


.refreshBtn{
  display: none; /*Original was flex*/
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 1px #777;
  padding: 1px;
  background: white;
  margin: 0 15vw;
  }
.refreshBtn:active{
  transition: 0.1s ease;
  position: relative;
  bottom: -2px;
  box-shadow: 0px 2px 2px 0px #000;
}
.refreshBtnWrapper{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  bottom: 5vh;
}
.content{
  display: flex;
  justify-content: center;
}
.contentBoxWrapper{
  width: 700px;
  min-width: 300px;
}
.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  height: 200px;
  max-height: 30vh;
  color: #222;
  padding: 10px;
  margin: 3vh auto 0 auto;
  box-shadow: 0px 1px 1px 0 #777;
  background-color: white;
  overflow: hidden;
  transition: 2s;
}

.cardIcon{
  max-width: 20%;
}

.cardInfo{
  max-width: 80%;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cardDate p{
  margin: 0;
}
