html,body{margin: 0;padding: 0;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menuTopShell{
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px 0 #ddd;
  position: sticky;
  }
.menuBtnWrapper{
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  cursor: pointer;
}
.menuBtn{height: 20px;padding: 10px;display: flex;justify-content: center;align-items: center;}
.menuBtn a{text-decoration: none;color: #444;}
.menuBtn:hover{
  background-color: rgba(0,0,0,0.15);
}


.refreshBtn{
  display: flex;justify-content: center;align-items: center;
  cursor: pointer;
  border: 1px solid #444;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 0 #ddd;
  padding: 1px;
  background: white;
  }
.refreshBtn:hover{
  transition: 0.15s;
  transform: scale(1.15);
  box-shadow: 0px 2px 3px 0 #bbb;
}
.refreshBtnWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 10vh;
}
.content{
  display: flex;
  justify-content: center;
}
.contentBoxWrapper{
  min-width: 60%;
  max-width: 700px;
  min-width: 300px;
}
.contentBox{
  padding: 10px;
  box-shadow: 0px 1px 1px 0 #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}
.contentIcon{width: 20%;display: flex;justify-content: center;align-items: center;}
.contentInfo{max-width: 80%;display: flex;flex-direction: column;;justify-content: center;align-items: center;}
.contentDate p{margin: 0;}
