@import "_variables";

.NewsCard {
    max-width: 80%;
    width: 500px;

    padding: $spacer $spacer * 2;
    margin: $spacer * 2 auto;  

    background-color: $componentColor;
    box-shadow: $depth1;
}